<h1>DASHBOARD</h1>

<!-- Add pin modal -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPoop">
  Make poop
</button>

<!-- Modal -->
<div class="modal fade" id="addPoop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Make a poop</h4>
      </div>

      <div class="modal-body">

				<form>
				  <div class="form-group">
				    <label for="poop-pic">Poop Picture</label>
				    <input type="text" class="form-control" id="poop-pic" placeholder="Poop Picture URL">
				  </div>
				  <div class="form-group">
				    <label for="poop-link">Password</label>
				    <input type="text" class="form-control" id="poop-link" placeholder="Poop link URL">
				  </div>
				</form>

      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="dashboardCtrl.addPoop()">Smear Poop</button>
      </div>
    </div>
  </div>
</div>