<!-- navigation -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <!-- Search field -->
      <form class="navbar-form navbar-left" role="search">
        <a href="/#/dashboard">
          <img alt="Brand" src="image/mb-logo3.png" ng-click="dashboardCtrl.getUserPoops()" width="50px" height="30px">
        </a>
        <div class="form-group">
          <input type="text" ng-model="dashboardCtrl.searchText" ng-keypress="dashboardCtrl.fooMethod($event)" ng-click="dashboardCtrl.mooMethod($event)" class="form-control" placeholder="Search" />
          
          <img alt="make poop" src="image/poop2.png" width="40px" height="40px" data-toggle="modal" data-target="#addPoop">
        </div>
      </form>
      <!-- user dashboard -->
      <form class="navbar-form navbar-right" role="user-home">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <img src="image/monkey-face2.png" width="20px" height="20px">  Suzy Q
           
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/#/dashboard" ng-click="dashboardCtrl.getUserMadePoops()">Poops I've Made</a></li>
            <li><a href="/#/">Smear Canvases</a></li>
            <li><a href="#" ng-click="dashboardCtrl.logOut()">Logout</a></li>
          </ul>
        </div>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- end navigation -->

<!-- grid poops -->
<div id="wrapper">
  <div id="columns">
    <div ng-repeat="poop in dashboardCtrl.poops | filter: dashboardCtrl.searchText">
      <div class="grid">
        <div class="poop-controls pull-right">
          <button class="poobtn"><img src="image/poop2.png" ng-click="dashboardCtrl.THISPOOP = poop" data-toggle="modal" data-target="#smearPoop" width="25px" height="25px"></button>
          <button class="poobtn"><span class="glyphicon glyphicon-trash" width="25px" height="25px"></span></button>
        </div>
        <img class="poopy-pics" src="{{poop.poopyPic}}" alt="poopy pic">
        <p class="source">from <a href="{{poop.contentURL}}" target="_blank">source</a></p>
      </div>
    </div>
  </div>
</div>


<!-- Add Poop Modal -->
<div class="modal fade" id="addPoop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Make a poop</h4>
      </div>

      <div class="modal-body">
				<form>
				  <div class="form-group">
				    <label for="poopy-pic">Poop Picture</label>
				    <input type="text" class="form-control" ng-model="dashboardCtrl.newPoop.poopyPic" placeholder="Poop Picture URL">
				  </div>
				  <div class="form-group">
				    <label for="poop-link">Content</label>
				    <input type="text" class="form-control" ng-model="dashboardCtrl.newPoop.contentURL" placeholder="Poop link URL">
				  </div>
          <div class="form-group">
            <label for="keywords">#keywords</label>
            <input type="text" class="form-control" ng-model="dashboardCtrl.newPoop.keywords" placeholder="#keywords">
          </div>
				</form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="dashboardCtrl.addPoop()">Smear Poop</button>
      </div>
    </div>
  </div>
</div>

<!-- smear a poop modal -->
<div class="modal fade" id="smearPoop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <h4 class="modal-title" id="myModalLabel">Smear this poop</h4>
      </div>

      <div class="modal-body">
        <form>
          <h1>What canvas?</h1>
          <div>
            Pick canvas:
            <select ng-options="dashboard.userCanvases"> <!-- use ng-repeat from canvases in model -->
              
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="" placeholder="Add New Canvas" ng-model="dashboardCtrl.newCanvasName"><span class="glyphicon glyphicon-plus" ng-click="dashboardCtrl.addCanvas()"></span>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="dashboardCtrl.pinPoop()">Smear Poop</button>
      </div>
    </div>
  </div>
</div>